.main {
  position: relative;
}

.mainContainer {
  width: 100%;
}

.contentWrap {
  width: 100%;
}

.hiddenTitle {
  margin: 0;
  padding: 0;
  font-size: 1px !important;
  color: transparent;
  opacity: 0;
}

/* LOGO GRID */

.uid1038669 {
  padding: 2.5rem 2rem;
  background-color: var(--il-theme-col-def-grn);
}

.uid1038669 img {
  max-width: 66% !important;
  margin: 0 auto;
  display: block;
}

/* MENU GRID */

.uid1038660 {
  min-height: 1rem;
  background-color: var(--il-theme-col-def-yel);
  color: var(--il-theme-col-def-grn);
}

/* mobile button */

.mobileBtn {
  display: none;
}

.mobileBtn p {
  margin: 0;
  padding: 1px 12px 0 20px;
  font-size: 45px;
  cursor: pointer;
}

/* mobile menu */

.mobileMenu {
  display: none;
}

.mobileMenu ul {
  background-color: var(--il-theme-col-def-dbl);
}

/* mobile rules */

@media (max-width: 767px) {
  .mobileBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--il-theme-col-def-wh);
    z-index: 2;
  }

  .mobileMenu {
    display: block;
  }

  .mobileMenu ul {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .mobileMenu ul li a {
    display: block;
    padding: 15px;
    font-family: "Formula1", Arial;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}


/* ==========================
   GRID 3 – INFORMAÇÕES
   ========================== */

.uid1038642 {
  padding: 2.5rem 2rem 0 2rem;
}

/* header com linha */
.infoHeader {
  border-bottom: 1px solid var(--il-theme-col-def-gry);
}

.infoHeader p {
  font-family: "Formula1", "Open Sans", Arial, sans-serif;
  font-size: 1.5rem;
}

.infoHeader p strong {
  font-family: "Formula1-Bold", "Open Sans", Arial, sans-serif;
  font-weight: normal;
}

/* bloco das colunas */
.infoColumns {
  padding: 2rem 0 0 0;
}

.infoColumns p {
  font-size: 0.9rem;
}

/* coluna dos botões */
.infoButtons a {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem 1rem;

  border-radius: 0.5rem;

  font-family: "Formula1-Bold", "Open Sans", Arial, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;

  white-space: nowrap;
  color: var(--il-theme-col-def-wh);
}

/* hover */
.infoButtons a:hover {
  color: #fff;
  opacity: 1;
}

/* botão verde */
.infoButtonGreen a {
  background-color: var(--il-theme-col-def-grn);
}

/* botão vermelho */
.infoButtonRed a {
  background-color: var(--il-theme-col-def-rd);
}

@media (max-width: 767px) {
  .infoButtons a {
    margin-top: 0;
  }
}
